@media screen and (max-width: 1500px) {
  .product-size__img {
    padding-top: 60%;
  }
  .big-container {
    padding: 0 40px;
  }
  .mailing__left {
    width: 57%;
    h1, h2, h3, h4, h5, h6 {
      font-size: 26px;
      line-height: 32px;
    }
  }
  .mailing__form {
    width: 43%;
  }
  .row-slides__slide {
    width: 340px;
    margin-right: 30px;
  }
  .row-slides__slide .text span {
    max-width: 220px;
  }
  .mini-container {
    max-width: 920px;
  }
  .product-info__head h3 {
    font-size: 28px;
    line-height: 36px;
  }
  .product-info__doubled .product-info__head {
    width: 48%;
    margin-right: 4%;
    &:last-child {
      margin-right: 0;
    }
  }
}
@media screen and (max-width: 1400px) {
  .global-info__list ul li {
    margin-bottom: 10px;
  }
  .product-size__img {
    padding-top: 50%;
    img {
      width: 80%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .mailing__left {
    width: 60%;
    h1, h2, h3, h4, h5, h6 {
      font-size: 24px;
      line-height: 32px;
    }
    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .mailing__form {
    width: 40%;
  }
  .mailing {
    padding: 24px 0;
  }
  .product-info__head h3 {
    margin-top: 28px;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 14px;
  }
  .product-info__head {
    margin: 32px 40px;
  }
  .product-info__doubled {
    margin: 32px 40px;
  }
  .header__right ul li.header-account {
    display: none;
  }
  .burger-btn {
    display: flex;
  }
  .header {
    margin-bottom: 50px;
    &.scrolled {
      .header__bottom {
        .header__search {
          border-top: 1px solid rgba(0,0,0,.1);
          border-bottom: 1px solid rgba(0,0,0,.1);
        }

      }
    }
  }
  .header__left>ul {
    display: none;
  }
  .header__left>a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    margin-right: 0;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    img {
      width: 100%;
    }
  }
  .header__search {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: $white;
    input {
      width: calc(100% - 80px);
      height: 40px;
      margin: 6px 40px;
    }
    span {
      left: 55px;
    }
  }
  .header__search input:active, .header__search input:focus {
    width: calc(100% - 80px);
  }
  .reviews {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1100px) {
  .mailing__left {
    width: 50%;
    padding-right: 3%;

  }
  .mailing__form {
    width: 50%;
  }
  .row-slides__slide {
    width: 275px;
  }
  .product-info__doubled {
    flex-direction: column;
    .product-info__head {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  .row-slides__head {
    padding-right: 136px;
  }
  .product-size__img {
    padding-top: 45%;
    img {
      width: 85%;
    }
  }
  .row-slides__head h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .row-slides {
    margin-top: 60px;
  }
  .row-slides__slide  {
    .text {
      margin-top: 7px;
      flex-direction: column;
      span {
        font-size: 14px;
        line-height: 22px;
      }
      p {
        flex-direction: row;
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        strong {
          margin-left: 12px;
        }
      }
    }
  }
  .global-info__list h3 {
    margin-top: 30px;
  }
  .global-info__list ul {
    width: 100%;
    padding-right: 0;
    margin-top: 0;
    li {
      &:last-child {
        margin-bottom: 10px;
      }
    }
    &:last-of-type {
      li:last-child {
        margin-bottom: 0;
      }
    }
    &:first-of-type {
      margin-top: 18px;
    }
  }
  .row-slides__control {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 992px) {
  .mailing__left {
    width: 100%;
    padding-right: 0;
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
    }
    p {
      text-align: center;
      max-width: 600px;
      margin: 20px auto 0;
    }

  }
  .mailing__form {
    width: 100%;
    position: static;
    transform: none;
    top: auto;
    right: auto;
    margin: 25px 0;
  }
  .big-container {
    padding: 0 15px;
  }
  .reviews {
    margin: 90px 0 60px;
  }
  .header__search input:active, .header__search input:focus {
    width: calc(100% - 30px);
  }
  .row-slides__slide {
    width: 244px;
    margin-right: 20px;
  }
  .product-gallery {
    display: none;
  }
  .product {
    flex-direction: column;
  }
  .product-right {
    width: 100%;
    order: 2;
    margin: 0;
    padding: 35px 15px;
    position: static;
    overflow-y: visible;
    max-height: none;
  }
  .container {
    padding: 0 15px;
  }
  .mini-container {
    padding: 0 15px;
  }
  .header__search input {
    width: calc(100% - 30px);
    margin: 6px 15px;
  }
  .header__search span {
    left: 30px;
  }
  .header__left>a {
    width: 172px;
  }
  .get-color {
    margin-top: 26px;
  }
  .get-free-element {
    margin-top: 25px;
  }
  .product-card__info {
    margin-top: 35px;
  }
  .product-card__buy {
    margin-top: 15px;
  }
  .product-left {
    width: 100%;
    order: 3;
  }
  .product-info__global-info {
    display: none;
  }
  .product-info__head {
    margin: 32px 15px;
  }
  .product-info__head a:last-child {
    margin-top: 30px;
  }
  .product-info__doubled {
    width: calc(100% - 30px);
    margin: 32px 15px;
    display: none;
  }
  .global-info__list {
    width: calc(100% - 30px);
    margin: 32px 15px;
    //display: none;
  }
  .product-video {
    order: 1;
  }
  .product-info__head {
    order: 2;
  }
  .row-slides__head {
    padding-left: 15px;
  }
  .row-slides__track {
    padding-left: 15px;
  }
  .row-slides__control {
    right: 15px;
  }
  .single-review__left {
    margin-right: 10%;
  }
  .single-review__head {
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .single-review__photos .img {
    width: 75px;
    height: 75px;
  }
}

@media screen and (max-width: 650px) {
  .mailing__form {
    form {
      flex-direction: column;
      label {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .reviews__head {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    > p {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }
  .reviews__total-stars {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sort-reviews {
    margin-left: 0;
    margin-top: 35px;
  }
  .reviews-stats {
    display: none;
  }
  .review-list {
    margin: 45px 0;
  }
  .single-review {
    padding: 40px 0;
  }
  .row-slides__slide {
    margin-right: 5px;
  }
  .row-slides__head p {
    margin-top: 14px;
  }
}