@import "fonts";


$main-font: 'Lato', sans-serif;
$second-font: 'Montserrat', sans-serif;
$white: #ffffff;
$grey: #767874;
$grey-light: #818181;
$mailing: #EFEEE5;

$black: #222321;

$main-green: linear-gradient(90deg, #CCD500 0%, #D7FA00 100%);
$green: #D7FA00;

$light-c7: #c7c7c7;
body, html {
  margin: 0;
  font-family: $main-font;
  min-width: 320px;
  scroll-behavior: smooth;

}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
}

* {
  letter-spacing: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: $light-c7;
  border: 3px solid $light-c7;
  border-radius: 10px;
  box-shadow: 0 0 0 3px $light-c7;
}


/* Track */
::-webkit-scrollbar-track {
  background: $light-c7;
  border-radius: 10px;
  width: 6px;

  box-sizing: border-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #545d63;
  border-radius: 10px;
  width: 4px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $black;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;

  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
}

html {
  height: auto;
  min-height: 100%;
  font-size: 16px;
  display: flex;
}

.wrapper,
body {
  height: auto;
}

main {
  flex-grow: 1;
  //transition: padding-top 0.4s ease;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.big-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 94px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 20;
}

.header__top {
  width: 100%;
  background: #545D63;
  padding: 20px 0;
}

.header__bottom {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 22px 0;
  transition: padding 0.3s ease;
}

.header__bottom-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > a {
    width: 200px;
    height: auto;
    margin-right: 65px;

    img {
      width: 200px;
      height: auto;
      transform: scale(1, 1);
      transition: transform 0.3s ease;
      transform-origin: 0 50%;
    }
  }

  > ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      padding-right: 30px;

      > p {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
        color: $grey;
        vertical-align: center;
        transition: color 0.3s ease;
        cursor: default;
      }

      .sub-menu {
        padding-top: 0;
        height: 0;
        padding-bottom: 0;
        transition: all 0.4s ease-in-out;

        .sub-menu__item {
          > a {
            opacity: 0;
            height: 0;
            padding-top: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
          }
        }
      }


      &.active {
        > p {
          font-weight: 500;
          color: $black;
          transition: color 0.3s ease;
        }

        .sub-menu {
          padding-top: 18px;
          height: auto;
          padding-bottom: 18px;
          transition: all 0.4s ease-in-out;

          .sub-menu__item {
            > a {
              opacity: 1;
              height: auto;
              padding-top: 12px;
              visibility: visible;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.sub-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  padding: 18px 40px;
  transition: all 0.4s ease;
  background: $white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 6px 9px 1px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0,0,0,.1);

  &__item {
    margin-right: 26px;

    > a {
      font-family: $main-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: $black;
      text-decoration: none;
      transition: all 0.3s ease;

      &:hover {
        font-weight: 500;
        transition: all 0.3s ease;
      }
    }
  }
}


.header {
  background: $white;
  margin-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: transform 0.3s ease;

  &.scrolled {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    transform: translate(0, -40px);

    .header__bottom {
      padding: 18px 0;

    }

    .header__left {
      > a {
        img {
          transform: scale(0.8, 0.8);
          transition: transform 0.3s ease;
        }
      }

      > ul {
        li {
          .sub-menu {
            padding-top: 0;
            padding-bottom: 0;
            height: 0;
            visibility: hidden;
            transition: all 0.4s ease-in-out;

            &__item {
              height: 0;

              > a {
                height: 0;
                opacity: 0;
                padding-top: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
              }
            }
          }

          &.active {
            > p {
              color: $grey;
              font-weight: 400;
            }


          }


        }
      }


    }
  }

  .header__left {
    > ul {
      li {
        .sub-menu.hovered {
          padding-top: 18px;
          height: auto;
          padding-bottom: 18px;
          visibility: visible;
          transition: all 0.4s ease-in-out;

          .sub-menu__item {
            height: auto;

            > a {
              opacity: 1;
              height: auto;
              padding-top: 12px;
              visibility: visible;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

}

.header__search {
  position: relative;

  span {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    width: 18px;
    height: 18px;
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
    }
  }

  input {
    border: none;
    outline: none;
    background: #F5F6F4;
    border-radius: 3px;
    padding: 2px 51px;
    box-sizing: border-box;
    font-family: $main-font;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #767874;
    width: 240px;
    position: relative;
    transition: width 0.4s ease-in-out;

    &::placeholder {
      font-family: $main-font;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      color: #767874;
    }

    &:focus, &:active {
      width: 360px;
      transition: width 0.4s ease-in-out;
    }
  }
}


.breadcrumbs__container {
  width: 100%;
  padding: 17px 0;
  box-sizing: border-box;
}

.breadcrumbs {
  width: 100%;

  ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
    padding: 0;

    li {
      padding-right: 28px;
      position: relative;

      &::after {
        top: 50%;
        right: 6px;
        width: 9px;
        height: 9px;
        content: '';
        position: absolute;
        display: inline-block;
        transform: translate(-50%, -50%);
        background: url("../img/breadc-icon.svg") no-repeat center;
        background-size: 100%;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }

      a, span {
        text-decoration: none;
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #767874;
        transition: color 0.3s ease;
      }

      a:hover {
        color: $black;
        transition: color 0.3s ease;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.header__right {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    li {
      margin-right: 27px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
        box-sizing: border-box;

        .img {
          width: auto;
          height: 16px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.product {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

main {
}

.product-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-right {
  width: 414px;
  margin-right: 64px;
  margin-left: 50px;
  padding: 50px 8px 50px 0;
  box-sizing: border-box;
  flex-shrink: 0;
  //background:red;
  position: sticky;
  top: 100px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-card__head {
  width: 100%;
  position: relative;
  .fav-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    color: #222321;
  }

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #222321
  }
}

.product__rating {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 14px;
  margin-bottom: 14px;

  a {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #222321;
    text-decoration: none;
    border-bottom: 1px solid #9FA19D;
  }
}

.rating-stars {
  margin-right: 12px;

  img {
    width: 12px;
    height: auto;
  }
}

.product-card__price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 27px;

  .get-credit {
    margin-top: 4px;
  }
}

.price__current {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: $black;

    &:nth-child(2) {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: $grey;
      margin-left: 20px;
      text-decoration-line: line-through;
    }
  }
}

.get-credit {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #222321;
  text-decoration: none;
  border-bottom: 1px solid #9FA19D;

  strong {
    font-weight: normal;
  }
}

.get-color {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 38px;

  a {
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 16px;
    position: relative;

    &.active {
      &::after {
        content: '';
        display: inline-block;
        width: 8px;
        height: 2px;
        top: calc(100% + 8px);
        background: $black;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);

      }
    }

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}

.get-free-element {

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #222321;
  text-decoration: none;
  border-bottom: 1px solid #9FA19D;
  margin-top: 18px;

  strong {
    font-weight: normal;
  }

}

.product-card__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 45px;
}

.product-card__size {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-size__single {
  width: 100%;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

}

.product-size__btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #FAFAFA;
  border-radius: 3px;
  padding: 6px 16px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 50%;
    height: 9px;
    width: 9px;
    right: 15px;
    background: url("../img/right-arrow-black.svg") no-repeat center;
    background-size: 100%;
    display: inline-block;
    content: '';
    transform: translate(0, -50%) scale(1, 1);
    transition: transform 0.4s ease;

  }

  &:hover {
    &::after {
      transform: translate(5px, -50%) scale(1.3, 1.3);
      transition: transform 0.4s ease;
    }
  }

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #222321;
  }

  span {
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #222321;
  }
}

.menu-info {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 40;
  opacity: 0;
  visibility: hidden;

  transition: opacity 0.6s ease, visibility 0.6s ease;
  background: rgba(0, 0, 0, 0.45);

  &.active {
    opacity: 1;
    visibility: visible;

    .menu-info__content {
      transform: translate(0, 0);
    }
  }
}
.modal-for-prod {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  &.active {
    z-index: 1000;
    display: block;

    //.menu-info {
    //  opacity: 1;
    //  visibility: visible;
    //
    //  .menu-info__content {
    //    transform: translate(0, 0);
    //  }
    //}
  }
}
main.open-modal {
  z-index: 22;
}

.menu-info__content {
  height: 100%;
  overflow-y: auto;
  background: #FFFFFF;
  padding: 52px 40px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translate(100%, 0);
  transition: transform 0.3s ease;
}

.close-modal {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 30px;
  right: 23px;

  img {
    width: 15px;
    height: 15px;

  }

  &:hover {
    background: rgba(239, 239, 239, 1);
  }
}

.modal-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.modal-title {
  font-family: $second-font;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: $black;
  margin-bottom: 21px;
}

.modal-size-list {
  width: 350px;
  border-top: 1px solid #EEF0ED;
  padding-top: 11px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.size-list__item {
  width: calc(50% - 8px);
  margin-right: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-decoration: none;

  p {
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $black;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }

    strong {
      margin-left: 5px;
      font-size: 13px;
      color: grey;
      font-weight: normal;
      text-decoration-line: line-through;
    }
  }

  span {
    font-family: $second-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $grey;
    display: inline-block;
    margin-bottom: 4px;
  }

  .img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 8px;

    img {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

  }
  &.current {
    .img {
      &::after {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 24px;
        height: 24px;
        background: url("../img/current-item.svg") no-repeat center;
        background-size: 100%;
        display: inline-block;
        content: '';
      }
    }
  }

  &:nth-child(even) {
    margin-right: 0;
  }
}

.product-card__buy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 31px;

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: $black;
  }

  .buy-btn {
    margin-top: 12px;
  }
}

.buy-btn {
  cursor: pointer;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  border: 2px solid $black;
  color: $white;
  background: $black;
  transition: color 0.4s ease, background-color 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  &:focus, &:active {
    outline: none;
  }

  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  &:hover {
    background: $white;
    color: $black;
    transition: color 0.4s ease, background-color 0.4s ease;
  }
}

.product-card__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 34px;

}

.product-card__single-detail {
  width: 100%;
}

.product-detail__btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 16px 0;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #E1E3DE;
  margin-bottom: 0;

  &::after {
    position: absolute;
    top: 50%;
    height: 9px;
    width: 9px;
    right: 15px;
    background: url("../img/right-arrow-black.svg") no-repeat center;
    background-size: 100%;
    display: inline-block;
    content: '';
    transform: translate(0, -50%) scale(1, 1);
    transition: transform 0.4s ease;

  }

  &:hover {
    &::after {
      transform: translate(5px, -50%) scale(1.3, 1.3);
      transition: transform 0.4s ease;
    }
  }

  p {

    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #131413;
  }
}

.menu-detail-info {
  //width: 100%;
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-top: 15px;

    li {
      width: 100%;
      margin-bottom: 16px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      p {
        width: 50%;
      }

      span, p {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #222321;
        margin: 0;
      }
    }
  }

  span {
    display: inline-block;
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #222321;
    margin-bottom: 14px;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    display: inline-block;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #222321;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: inline-block;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #222321;
    margin-bottom: 14px;
    margin-top: 14px;
  }
}

.product-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  //display: grid;
  //grid-gap: 8px;
  //position: relative;
  //grid-template-columns: 1fr 1fr;

  .img {
    width: calc(50% - 4px);
    height: 0;
    position: relative;
    padding-top: 62.42%;
    margin-bottom: 8px;

    &.img--big {
      //grid-column-start: 1;
      //grid-column-end: 3;
      height: 0;
      width: 100%;
      padding-top: 66.66%;
    }

    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;

    }
  }
}

img.lazyload, video.lazyload {
  opacity: 0;
  //visibility: hidden;
  animation-fill-mode: forwards;
}

.is-loaded {
  opacity: 0;
  visibility: visible;
  //transition: opacity 0.3s ease, visibility 0.3s ease;
  animation: faddingImgAnim 0.5s ease;
}


@keyframes faddingImgAnim {
  0% {
    //visibility: hidden;
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
  }
}

.out-of-stock {
  position: absolute;
  padding: 2px 8px;
  border-radius: 4px;
  background: $grey;
  color: $white;
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  top: 40px;
  right: 40px;
}

.product-info {
  width: 100%;
  background: #F5F6F4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-info__head {
  width: calc(100% - 80px);
  margin: 64px 40px;
  box-sizing: border-box;
  border-top: 1px solid #C4C4C4;

  h3 {
    margin-top: 45px;
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: $black;
    margin-bottom: 20px;
  }

  p {
    max-width: 659px;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $black;
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid #9FA19D;
    display: inline-block;

    &:last-child {

      margin-top: 52px;
    }
  }
}

.product-video {
  width: 100%;
  padding-top: 56.25%;
  box-sizing: border-box;
  position: relative;

  .video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    video {
      width: 100%;
      height: 100%;
    }
  }
}

.product-info__doubled {
  width: calc(100% - 80px);
  margin: 64px 40px;
  box-sizing: border-box;
  border-top: 1px solid #C4C4C4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  .product-info__head {
    width: 50%;
    margin: 0;
    border: none;

    p {
      max-width: 546px;
    }
  }
}

.product-info__global-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.burger-btn {
  width: 17px;
  height: 16px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;

  span {
    display: inline-block;
    height: 2px;
    width: 100%;
    background: $black;

    &:nth-child(2) {
      width: 14px;
    }
  }
}

.product-size__img {
  width: 100%;
  padding-top: 80%;
  position: relative;

  img {
    mix-blend-mode: darken;
    width: 72%;
    height: auto;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: darken;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.global-info__list {
  width: calc(100% - 80px);
  margin: 64px 40px;
  box-sizing: border-box;
  border-top: 1px solid #C4C4C4;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;

  h3 {
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: #222321;
    margin-bottom: 4px;
    margin-top: 45px;
    width: 100%;
  }

  ul {
    list-style: none;
    width: 50%;
    padding-right: 40px;
    box-sizing: border-box;
    padding-left: 0;
    margin-top: 18px;

    li {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 14px;

      &:last-child {
        margin-bottom: 0;
      }

      span, p {
        font-family: $main-font;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: $black;
      }

      p {
        width: 50%;
        flex-shrink: 0;
        padding-right: 10px;
        box-sizing: border-box;

      }

    }
  }
}

.row-slides {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 38px;
  margin-top: 50px;
}

.row-slides__head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 40px;
  margin-bottom: 23px;
  box-sizing: border-box;
  position: relative;

  & > *:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: $black;
    margin-bottom: 6px;
  }

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #222321;

    strong {
      font-weight: 500;
      color: #FE3502;
    }
  }
}

.row-slides__control {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.row-slides {
  &:hover {
    .row-slides__control {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }
  }
}

.slides-btn {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F6F4;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 16px;
  box-shadow: none;
  transition: box-shadow 0.3s ease;

  &:last-child {
    margin-right: 0;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;

    &:hover {
      box-shadow: none;
    }
  }

  img {
    height: 13px;
    width: auto;
  }

  &--prev {
    img {
      transform: rotate(-180deg);
    }
  }

  &:hover {
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;

  }
}

.row-slides__container {
  width: 100%;
  overflow-x: hidden;
}

.row-slides__track {
  width: auto;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 40px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.row-slides__slide {
  width: 485px;
  margin-right: 30px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .text {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      display: inline-block;
      width: 100%;
      max-width: 360px;
      font-family: $main-font;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      margin-right: 15px;
      color: $black;
    }

    p {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      font-family: $main-font;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: $black;

      strong {
        color: #767874;
        font-weight: 500;
        text-decoration-line: line-through;
      }

    }

  }

  .img {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;

    }

    &::before {
      position: absolute;
      background: url("../img/white-insta.svg") no-repeat center, rgba(0, 0, 0, 0.4);
      background-size: 18px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1;
      visibility: hidden;
      display: inline-block;
      opacity: 0;
      content: '';
      transition: visibility 0.4s ease, opacity 0.4s ease;
    }

  }

  &--link {
    text-decoration: none;

    .img {
      &::before {
        content: none;
      }
    }
  }

  &:hover {
    .img {
      &::before {
        opacity: 1;
        visibility: visible;
        transition: visibility 0.4s ease, opacity 0.4s ease;
      }
    }
  }
}

.slide__tags {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  .fav-btn {
    top: 0;
    right: 0;
    background: none;
    svg {
      width: 26px;
    }
  }
}

.slide__discount {
  background: $white;
  border-radius: 2px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #222321;
  padding: 3px 6px;
  box-sizing: border-box;
}

.mini-container {
  width: 100%;
  max-width: 1146px;
  box-sizing: border-box;
  padding: 0 40px;
  margin: 0 auto;
}

.reviews {
  width: 100%;
  margin-top: 170px;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.reviews-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.reviews__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  p {
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #222321;
    margin-right: 20px;
  }
}

.reviews__total-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.total-stars {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  span {
    font-family: $second-font;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 36px;
    color: #222321;
    display: inline-block;
    margin-right: 4px;
  }
}

.review-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p {

    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $black;
  }
}

.stars {
  margin-right: 0;

  img {
    width: 12px;
    height: auto;
  }
}

.sort-reviews {
  margin-left: 50px;
  width: 200px;

  > span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 6px 16px 6px 22px;
    border: 1px solid #BDBFBB;
    border-radius: 4px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: $black;

    &::after {
      content: '';
      background: url("../img/right-arrow-black.svg") no-repeat center;
      background-size: 100%;
      width: 9px;
      height: 11px;
      box-sizing: border-box;
      display: inline-block;
      transform: rotate(90deg);
      transition: transform 0.3s ease;
    }

    &.open {
      &::after {
        transform: rotate(-90deg);
        transition: transform 0.3s ease;
      }
    }
  }
}

.reviews-stats {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.single-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 48px;

  &:last-child {
    margin-right: 0;
  }

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: $black;
  }

  .stat-line {
    background: #E1E3DE;
    position: relative;
    height: 4px;
    width: 110px;
    overflow: hidden;
    margin-top: 7px;

    .fuel {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      background: $black;
    }
  }
}

.review-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 70px;
  margin-bottom: 70px;
}

.single-review {
  width: 100%;
  padding: 50px 0 65px;
  box-sizing: border-box;
  border-bottom: 1px solid #E1E3DE;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;

  &:first-child {
    border-top: 1px solid #000000;
  }
}

.single-review__left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 16%;
}

.review-avatar {
  width: 24px;
  height: 24px;
  background: #F5F6F4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 6px;

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: $black;
  }
}

.review-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #222321;
    margin-bottom: 4px;
    margin-top: 4px;
  }
}

.single-review__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.single-review__head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 11px;

  p {
    font-family: $second-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: $black;
    margin-right: 20px;
  }

  span {
    display: inline-block;
    margin-left: auto;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #9FA19F;
  }
}

.single-review__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 25px;

  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.single-review__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  span {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $black;
    display: inline-block;
    margin-bottom: 10px;
  }

  a {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #222321;
    text-decoration: none;
    border-bottom: 1px solid #C4C4C4;
  }
}

.single-review__photos {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 31px;

  .img {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    overflow: hidden;
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.header-mob {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    .header-mob__container {
      transform: translate(0, 0);
      transition: transform 0.4s ease;
    }
  }

}

.header-mob__container {
  height: 100%;
  background: $white;
  z-index: 2;
  position: relative;
  width: 420px;
  box-sizing: border-box;
  transform: translate(-100%, 0);
  overflow-y: auto;
  transition: transform 0.4s ease;

}

.header-mob__bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
}

.pagination {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    li {
      margin-right: 20px;
      &.disabled {
        opacity: 0.4;
        a {
          cursor: not-allowed;
          pointer-events: none;
        }
      }
      &:first-of-type {

        a {


          img {
            transform: rotate(-180deg);
          }
        }
      }
      span {
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $black;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0);
        transition: background-color 0.3s ease;
        text-decoration: none;

        img {
          height: 14px;
          width: auto;
        }
        &:hover {
          background: #F6F6F4;
          transition: background-color 0.3s ease;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.mailing {
  width: 100%;
  background: $mailing;
  padding: 38px 0;
  box-sizing: border-box;
  
}
.mailing-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.mailing__left {
  width: 53%;
  padding-right: 4%;
  box-sizing: border-box;
  h1, h2, h3, h4, h5, h6 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: $black;
    margin-bottom: 10px;
  }
   p {
     font-family: $main-font;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 24px;
     color: $black;
     max-width: 649px;
   }
}
.mailing__form {
  width: 47%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    label {
      display: inline-block;
      flex-grow: 1;
      margin-right: 17px;
      height: 45px;
      input {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0);
        box-sizing: border-box;
        border: 2px solid #131413;
        padding: 3px 16px;
        font-family: $main-font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 17px;
        color: $black;
        &::placeholder {

          text-align: center;
        }
      }
    }

  }
}
.btn {
  width: 185px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid $black;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:focus, &:active {
    outline: none;
  }
  &--default {
    color: $white;
    background: $black;
    &:hover {
      background: rgba(34, 35, 33, 0.8);
    }
  }
}

.footer {
  width: 100%;
  background: $white;

}
.footer__top {
  width: 100%;
  padding: 50px 0 75px;
  box-sizing: border-box;
}
.footer__bottom {
  width: 100%;

  box-sizing: border-box;
}
.footer__bottom-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  padding: 19px 0 26px;
  border-top: 1px solid #000000;
  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: $black;
  }
}
.mob-only {
  display: none;
}
.product-gallery-mob {
  display: none;
  order: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.gallery-mob__track {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  transition: transform 0.3s ease-in-out;

  .img {
    width: 100%;
    height: 0;
    padding-top: 119.46%;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    &.img--big {
      width: 200%;
    }
    img {
      top: 0;
      left: 0;
      width: 100%;
      position: absolute;
      height: 100%;
    }

  }
}
.reviewer-mob {
  display: none;
}

.gallery-mob__dots {
  width: 100%;
  position: absolute;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-dot {
  width: 9px;
  height: 9px;
  margin-right: 5px;
  border-radius: 50%;
  background: $grey;
  &.active {
    background: $black;
  }
}

.fav-btn {
  outline: none;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: #FAFAFA;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  svg {
    width: 29px;
    height: auto;
    transition: transform 0.3s ease;
    path {
      &.liked {
        fill-opacity: 0;
      }
    }

  }
  &.like {
    svg {
      path {
        fill-opacity: 0;
        &.liked {
          fill-opacity: 1;
        }
      }
    }
  }
  &:active {
    svg {
      transform: scale(0.6, 0.6);
      transition: transform 0.3s ease;
    }
  }
}

.footer__top-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer__top-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;

}

.footer__top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .footer-main {
    width: 220px;
    height: auto;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.footer-socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 36px;
  border-bottom: 2px solid #E1E3DE;
  a {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 20px;
    text-decoration: none;
    &:last-child {
      margin-bottom: 0;
    }

    svg {
      width: 100%;
      height: 100%;

      path:not(.white-path) {
        fill: #131413;
        filter: none;
      }
    }
    &:hover {
      svg {
        filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.25));
        path:not(.white-path) {

          fill: $black;
        }
      }
    }
  }
}
.footer-contacts {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  ul {
    width: 100%;
    list-style: none;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    padding-left: 37px;
    margin-bottom: 14px;
    &:last-child {
      margin-bottom: 0;
    }
    &.footer-contacts__phone {
      &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url("../img/footer-phone.svg") no-repeat center;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 4px;

      }
    }
    &.footer-contacts__mail {
      &::before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url("../img/footer-mail.svg") no-repeat center;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 2px;

      }
    }
    li {
      width: 100%;
      margin-bottom: 12px;
      a {
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      button {
        background: none;
        outline: none;
        cursor: pointer;
        border: none;
        padding: 0;
        margin-top: 6px;
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #FE3401;
        &:hover {
          text-decoration: underline;
        }
        &:focus, &:active {
          outline: none;
        }
      }
    }

  }
}
.footer-selector {
  position: relative;
  width: 100%;

  &::after {
    content: '';
    display: inline-block;
    background: url("../img/right-arrow-black.svg") no-repeat center;
    top: 30%;
    background-size: 100%;
    right: 0;
    transform: translate(0, -50%);
    transition: transform 0.3s ease;
    height: 13px;
    width: 9px;
    position: absolute;

  }
  select {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    padding: 4px 0 16px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #E1E3DE;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #131413;

    &:focus {
      outline: none;
      &::after {
        transform: translate(0, -50%) rotate(-180deg);
        transition: transform 0.3s ease;
      }
    }
  }
}
.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 12%;

  span {
    font-family: $main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    display: inline-block;
    margin-bottom: 55px;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    li {
      margin-bottom: 12px;
      a {
        text-decoration: none;
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: $black;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.footer-tab {
  visibility: hidden;
  opacity: 0;
  display: none;
  width: 500px;
  margin-top: 27px;
  &.active {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  > span {
    display: none;
  }
  ul {
    width: 100%;
    li {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      span {
        display: inline-block;
        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: $black;
        margin-bottom: 12px;
        width: 64%;
      }
      p {
        flex-grow: 1;

        font-family: $main-font;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: $black;
        margin-left: 10%;
        white-space: nowrap;
      }
    }
  }
}
.footer ul.no-style {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  > li {
    width: 100%;
    margin: 0;
    padding: 0;
  }

}
.catalog {
  width: 100%;
}
.catalog-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.catalog__head{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;

  > ul {
    list-style: none;
    display: flex;
    margin-top: 26px;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    li {
      width: 100%;
      max-width: 150px;
      margin-right: 60px;
      &:last-child {
        margin-right: 0;
      }
      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
          width: 80px;
          height: 80px;
          flex-shrink: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        p {
          margin-top: 14px;
          font-family: $main-font;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color:$black;
        }
      }
    }
  }
}
.title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  color: $black;
}
.catalog__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 33px;
  box-sizing: border-box;
  padding-bottom: 20px;
  border-top: 1px solid #E1E3DE;
}
.catalog__control-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}
.control-tag {
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  background: #F5F6F4;
  border-radius: 20px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  span {
    display: none;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $white;
    margin-left: 8px;
    font-size: 10px;
    line-height: 10px;
  }
  &.filter-checked {
    span {
      display: flex;
    }
  }
}
.filter-btn {
  //display: flex;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  .img {
    width: 18px;
    height: 18px;
    margin-right: 9px;
    img {
      width: 100%;
      height: 100%;

    }
  }
  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: $black;
  }
}

.sort-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.catalog-prod-amount {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 33px;
  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: $black;
    strong {
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
    }
  }
}
.sort-catalog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  p {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: $main-font;
    margin-right: 6px;
  }
  select {
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 17px;
    color: #222321;
    outline: none;
    border: none;
    height: 28px;
    padding: 6px 0;
    border-bottom: 1px solid #F0F1EE;
  }
}
.catalog-list {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;

  .catalog-item {
    width: calc(25% - 30px);
    margin-right: 40px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  .row-slides__slide {
    width: 100%;
    margin-bottom: 16px;
    .text span {
      max-width: 320px;
    }
    .img {
      img {
        transition: all 0.6s ease;
      }
      img.catalog-bg {
        opacity: 0;
        visibility: hidden;
      }
      &:hover {

        img{
          opacity: 0;
          visibility: hidden;
          transition: all 0.6s ease;
        }
        img.catalog-bg {
          opacity: 1;
          visibility: visible;
        }

      }
    }


  }
}

@import "media"; // Always at the end
